.destinations {
  width: 100%;
}

.destinations__picture {
  display: flex;
  justify-content: center;
  width: 100%;
}

.destinations__picture--two,
.destinations__picture--three {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 390px;
  padding: 0;
  display: none;
}

.destinations__picture--one {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 80%;
  border-radius: 8%;
  position: relative;
}

.destinations__pictures--one--berlin,
.destinations__pictures--two--london,
.destinations__pictures--three--venice {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 104%;
  height: 328px;
  border-radius: 8%;
  position: relative;
}

.destinations__pictures--one--name {
  position: absolute;
  margin-bottom: 23%;
  margin-right: 38%;
  font-size: 1.3rem;
  font-family: "Playfair Display";
  color: white;
}

.destinations__pictures--one--place {
  position: absolute;
  font-size: 1rem;
  margin-bottom: 12%;
  margin-right: 53%;
  font-family: "Rubik";
  color: white;
}

.destinations__pictures--two--name {
  position: absolute;
  margin-top: 60%;
  margin-right: 20%;
  font-size: 1.5rem;
  font-family: "Playfair Display";
  color: white;
  justify-content: left;
}

.destinations__pictures--two--place {
  position: absolute;
  font-size: 1rem;
  margin-top: 70%;
  margin-right: 20%;
  font-family: "Rubik";
  color: white;
}

.destinations__pictures--three--name {
  position: absolute;
  margin-top: 60%;
  margin-right: 35%;
  font-size: 1.5rem;
  font-family: "Playfair Display";
  color: #ffffff;
  justify-content: left;
}

.destinations__pictures--three--place {
  position: absolute;
  font-size: 1rem;
  margin-top: 70%;
  margin-right: 45%;
  font-family: "Rubik";
  color: white;
}

@media screen and (min-width: 1440px) {
  .destinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
  }

  .destinations__pictures--one--berlin,
  .destinations__pictures--two--london,
  .destinations__pictures--three--venice {
    display: flex;
    width: 96%;
    height: 515px;
    border-radius: 3%;
    position: relative;
    align-items: center;
    margin-left: 2%;
  }

  .destinations__picture--one,
  .destinations__picture--two,
  .destinations__picture--three {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 90%;
    height: 89%;
    border-radius: 8%;
    position: relative;
  }

  .destinations__pictures--one--name {
    position: absolute;
    margin-bottom: 12%;
    padding-left: 6%;
    font-size: 1rem;
    font-family: "Playfair Display";
    color: white;
  }

  .destinations__pictures--two--name {
    position: absolute;
    padding-bottom: 12%;
    padding-left: 6%;
    font-size: 1rem;
    font-family: "Playfair Display";
    color: white;
  }

  .destinations__pictures--three--name {
    position: absolute;
    margin-bottom: 12%;
    padding-left: 6%;
    font-size: 1rem;
    font-family: "Playfair Display";
    color: white;
  }

  .destinations__pictures--one--place {
    position: absolute;
    font-size: 0.7rem;
    margin-bottom: 8%;
    margin-left: 6%;
    font-family: "Rubik";
    color: white;
  }

  .destinations__pictures--two--place {
    position: absolute;
    font-size: 0.7rem;
    padding-bottom: 8%;
    padding-left: 6%;
    font-family: "Rubik";
    color: white;
  }

  .destinations__pictures--three--place {
    position: absolute;
    font-size: 0.7rem;
    padding-bottom: 8%;
    padding-left: 6%;
    font-family: "Rubik";
    color: white;
  }

  /* -------->> Titles bugfix <<-------- */
  .destinations .destinations__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0 2rem 12px;
  }
  .destinations__title .sections__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .destinations__title .sections__btn--desktop {
    display: flex;
    justify-content: flex-end;
  }
}
.destinations__title .sections__title h2::after {
  width: 75%;
}
.destinations img {
  z-index: -20;
}
.destinations p {
  z-index: -20;
}
