/* -------->>> Fonts <<<-------- */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/*
font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Mulish', sans-serif;
*/

/* ------->>> Import all style-sheets into main CSS <<<-------- */
@import url(./header.css);
@import url(./hero.css);
@import url(./destinations.css);
@import url(./s-offer.css);
@import url(./our-blog.css);
@import url(./trip-planners.css);
@import url(./testimonial.css);
@import url(./newsletter.css);
@import url(./footer.css);

/* ------->>> Resets <<<-------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
* ul,
* ol {
  list-style: none;
}
* a {
  text-decoration: none;
}

/* -------->>> Components <<<-------- */

/* ----->> Buttons <<----- */
.sections__btn--mobile,
.sections__btn--desktop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections__btn--mobile button,
.sections__btn--desktop button {
  border: none;
  border-radius: 12px;
  padding: 20px 28px;
  margin: 20px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.sections__btn--mobile .btn__left,
.sections__btn--desktop .btn__left {
  background-color: #172432;
}
.sections__btn--mobile .btn__left:hover,
.sections__btn--desktop .btn__left:hover {
  background-color: rgba(23, 36, 50, 0.8);
}
.sections__btn--mobile .btn__right,
.sections__btn--desktop .btn__right {
  background-color: #ff7757;
}
.sections__btn--mobile .btn__right:hover,
.sections__btn--desktop .btn__right:hover {
  background-color: rgba(255, 118, 87, 0.8);
}
.sections__btn--mobile button i,
.sections__btn--desktop button i {
  color: white;
  font-size: 1.4rem;
}
.sections__btn--desktop {
  display: none;
}
@media screen and (min-width: 1440px) {
  .sections__btn--mobile {
    display: none;
  }
  .sections__btn--desktop {
    display: block;
  }
}

/* -------->> Sections titles <<-------- */
.sections__title {
  margin: 2rem 1rem;
}
.sections__title h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #172432;
  display: inline-block;
  margin: 2.5rem 0;
}
.sections__title h2::after {
  display: block;
  position: relative;
  content: "";
  background-color: #ff7757;
  width: 100%;
  height: 3px;
  margin-top: 1rem;
  z-index: -1;
}
.sections__title p {
  font-size: 1.2rem;
  color: #767e86;
  font-style: normal;
}
@media screen and (min-width: 1440px) {
  .sections__title {
    margin: 2.8rem 2rem;
  }
  .sections__title h2 {
    font-size: 4rem;
  }
  .sections__title h2::after {
    width: 65%;
  }
  .sections__title p {
    font-size: 1.5rem;
  }
}

/* -------->> Disable on mobile <<-------- */
.mobile--disabled {
  display: none;
}
@media screen and (min-width: 1280px) {
  .mobile--disabled {
    display: block;
  }
}
